* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #33aacc;
  text-align: center;
  height: 80px;
}

.menu {
  font-size: 22px;
  padding: 25px;
}

.items_menu {
  display: inline;
  list-style: none;
  margin: 0 80px;
}

.link_menu {
  color: #ffeebb;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 940px;
}

.main_title {
  color: #ffeeee;
  background-color: #3388cc;
  margin: auto;
  padding: 30px 0;
  text-align: center;
  width: 940px;
}

.section_information {
  padding-top: 30px;
}

.float {
  float: left;
  width: 60%;
}

.not-float {
  clear: both;
}

.section_title {
  margin-bottom: 15px;
}

table,
td,
th {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 5px 20px;
}

table {
  width: 30%;
  margin: 30px 0;
  float: right;
}

.section_facts {
  margin-bottom: 30px;
}

.main_subtitle {
  margin-bottom: 10px;
}
