* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #33aacc;
  text-align: center;
  height: 80px;
}

.menu {
  font-size: 22px;
  padding: 25px;
}

.items_menu {
  display: inline;
  list-style: none;
  margin: 0 80px;
}

.link_menu {
  color: #ffeebb;
  text-decoration: none;
}
