ol li {
  background-color: yellow;
}

ol li:nth-child(even) {
  color: green;
}

ol li:nth-child(2n + 1) {
  text-transform: uppercase;
}

ol li:nth-child(2) {
  text-transform: uppercase;
}

.color-red {
  color: red;
}

.color-red em {
  border: 1px solid #000;
  font-size: 40px;
}

li {
  font-size: 20px;
}

li > em {
  font-weight: 700;
}
