img {
  width: 20em;
  position: absolute;
}

.super-mario {
  top: 150px;
  z-index: 1;
}

.goomba {
  top: 585px;
}

.bowser {
  left: 800px;
  top: 200px;
}

.baloon {
  left: 450px;
}

.word {
  position: absolute;
  left: 490px;
  top: 150px;
  z-index: 1;
}
