* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(199, 199, 199);
  color: rgb(99, 99, 99);
}

span {
  color: rgb(209, 79, 99);
}

.header {
  background-color: rgb(232, 235, 238);
  box-shadow: 1px 1px 3px rgb(000, 000, 000);
  border-radius: 3px;

  margin: 30px auto;
  padding: 30px;
  text-align: center;

  width: 70%;
}

.form {
  background-color: rgb(232, 235, 238);
  box-shadow: 1px 1px 3px rgb(000, 000, 000);
  border-radius: 3px;

  margin: 30px auto;
  padding: 30px;

  width: 70%;
}

.container-form {
  padding: 30px;
}

.second-fild {
  margin-top: 30px;
}

input[type='text'],
[type='email'],
textarea {
  display: block;
  margin: 3px 0 6px 0;
  padding: 3px;
  width: 50%;

  resize: none;
}

textarea {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 6px;
}

input[type='radio'] {
  margin: 13px 0;
}
